
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-bordered">
    <tr>
        <td>
            Name
        </td>
        <td>
            Id
        </td>
        <td>
            DOB
        </td>
    </tr>
    <tr>
        <td>
            Tanvir
        </td>
        <td>
            123
        </td>
        <td>
            12/12/12
        </td>
    </tr>
    <tr>
        <td>
            Tanvir1
        </td>
        <td>
            123324
        </td>
        <td>
            12/12/13
        </td>
    </tr>
</table>