@model WebApplication1.Models.Student
@{
    ViewBag.Title = "CreateSubmit";
}

<h2>CreateSubmit</h2>
<!-- Submit houwa Data gula amra ei page e dekhabo -->

<h4> Name : @Model.Name</h4>
<h4> Id : @Model.Id</h4>
<h4> Dob : @Model.Dob</h4>